h2 {
  text-align: left;
}

.items {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4px;
  margin: 10px;
}
.items.active {
  background-color: rgb(209, 255, 191);
}

.name {
  width: 130px;
  border: 1px dotted;
  margin-right: 2px;
  padding: 0 4px;
}
.objectName {
  width: 100px;
  border: 1px dotted;
  margin-right: 2px;
  padding: 0 4px;
}
.objectsName {
  width: 240px;
  border: 1px dotted;
  margin-right: 2px;
  padding: 0 4px;
  cursor: pointer;
}

.price {
  width: 50px;
  border: 1px dotted darkgreen;
  padding: 0 2px;
  text-align: right;
  margin-right: 5px;
}
.newPrice {
  width: 50px;
  border: 2px dotted crimson;
  padding: 0 2px;
}
.unit {
  width: 55px;
}

.button {
  margin: 0 4px;
}

.popup {
  margin-top: -5px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.buttonPopup {
  margin: 0 30px;
  width: 70px;
}

.successLoad {
  display: block;
  margin-left: 15px;
  color: yellowgreen;
}

.loadButton {
  margin-left: 10px;
  border-radius: 3px;
}

.invisible {
  display: none;
}
