.items {
  display: flex;
  padding: 2px;
  margin: 3px;
}

.name {
  width: 140px;
  border: 1px solid;
  margin-right: 2px;
}

.price {
  width: 40px;
  border: 1px solid;
  padding: 0 2px;
}
.button {
  margin: 0 2px;
}
